

.item {
    width: 100%;
    float: left;
    margin: 0 13px 13px 0;
    border: 1px solid #CCC;
    background-image: -webkit-linear-gradient(top, #FFF, #F9F9F9);
    position: static;
    border-radius: 5px;
}

.item-inner {
    padding: 10px 15px 10px 8px;
    position: relative;
    _position: static;
}

.item-desc {
    border-top: 1px solid #DDD;
    margin-top: 8px;
    padding: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #777;
    font-size: 12px;
}

.item-ft {
    margin-top: 30px;
    text-align: right;
}

.item-link {
    float: left;
    margin-top: 3px;
    color: #999;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

a.item-btn {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 20px;
    line-height: 20px;
    text-align: right;
    color: #393D49;
}

.item-hd {
    margin: 0;
    padding: 0;
}